/*---------product container----*/
.product {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    

}

/*---------prduct image----*/
.product img {
    width: 450px ;
    height: auto;



}

/*---------title----*/
.product h2 {


}

/*---------descripction----*/
.product p:nth-of-type(1) {}

/*---------price----*/
.product p:nth-of-type(2) {}

/*---------in stock p----*/
.product p:nth-of-type(3) {}

/*---------button add to cart----*/
.product button {}