.checkout {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    margin-top: 3rem;
    justify-content: space-around;
    align-items: top;
}

.checkout form{
    background-color: var(--lightBlue);
    border-radius: .5rem;
    width: 40vw;
    height: 20rem;
    padding: 2rem;
}

.checkout form input{
    width: calc(100% - 8.3rem);
    font-size: 1rem;
    height: 2rem;
    font-weight: bold;
    color: var(--orange);
    background-color: white;
    border-radius: .5rem;
}

.apply-coupon{
    width: 8rem;
    font-size: 1rem;
    height: 2rem;
    font-weight: bold;
    color: white;
    background-color: var(--orange);
    border-radius: .5rem;
}

.apply-checkout{
    width: 12rem;
    font-size: 1rem;
    height: 2rem;
    font-weight: bold;
    color: white;
    background-color: #E61A4D;
    border-radius: .5rem;
    position: relative;
    left: calc(50% - 6rem);
}

.checkout form div{
    width: 100%;
    height: calc(100% - 6rem);
    background-color: white;
    border-radius: .5rem;
    margin: 1rem 0 1rem 0;
}

.checkout__productlist{
    height: fit-content;
    width: 50%;
    height: 40vh;
    background-color: bisque;
}





.checkout-space__content__product {}

.checkout-space__content__img {}
.checkout-space__content__title {}
.checkout-space__content__price {}
.checkout-space__content__ud {}
.checkout-space__content__remove {}