main section:nth-child(2) div:nth-child(1){
    width: 100%;
    height: 40rem;
}

@-webkit-keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left:2400px;}
    50% {left:2400px;}
    60% {left:1200px;}
    70% {left:1200px;}
    80% {left:0px;}
    90% {left:0px;}
    100% {left:0px;}
}

.slide-img{
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
}