.slider-frame{
    position: relative;
    width: 100%;
    height: 40rem;
    overflow: hidden;
}

@keyframes fade-in{
    0%{
        opacity: 0;
        background-image: url(/space-jump/images/slider/jordan.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    25%{
        opacity: 1;
        background-image: url(/space-jump/images/slider/jordan.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    45%{
        opacity: 1;
        background-image: url(/space-jump/images/slider/jordan.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    50%{
        opacity: 0;
        background-image: url(/space-jump/images/slider/jordan.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    51%{
        opacity: 0;
        background-image: url(/space-jump/images/slider/shoot.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
    75%{
        opacity: 1;
        background-image: url(/space-jump/images/slider/shoot.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    95%{
        opacity: 1;
        background-image: url(/space-jump/images/slider/shoot.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    100%{
        opacity: 0;
        background-image: url(/space-jump/images/slider/shoot.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.img-container1{
    width: 100%;
    height: 40rem;
    background-image: url(/space-jump/images/slider/box.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: fade-in;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.img-container2{
    width: 100%;
    height: 40rem;
    background-image: url(/space-jump/images/slider/jordan.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-container3{
    width: 100%;
    height: 40rem;
    background-image: url(/space-jump/images/slider/shoot.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}